@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.cover {
	background-size: cover;
	background-position: center;
}

.container {
	max-width: 1024px;
	padding-left: 16px;
	padding-right: 16px;
	width: 95%;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

.content {
	padding: 20px 0;
	flex: 1;
}

.content__sort {
	margin-bottom: 40px;
}

.result {
	font-size: 24px;
}

.page-title {
	font-weight: 800;
	font-size: 28px;
	line-height: 32px;;
}

.btn {
	padding: 10px 18px;
	border: 1px solid transparent;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	line-height: 20px;
	border-radius: 55px;
	text-decoration: none;
	border: 1px solid #CFD8DC;
	display: inline-block;
	color: inherit;
	transition: background-color .3s;
}

.btn_type_primary {
	background-color: #FFE44D;
}
.btn_type_primary:hover {
	background-color: #FFAA0D;
	color: #F44336;
}
.btn_type_secondary {
	background-color: #01A54E;
	color: #FFFFFF;
}
.btn_type_secondary:hover {
	background-color: #16BB64;
}

.button-back {
	color: #7B8E98;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}
